# MongoDB Atlas Connection
MONGODB_URI=

# Server Configuration
PORT=5000
NODE_ENV=development

# JWT Secret
JWT_SECRET=fittrack_super_secret_key_change_in_production_2024

# ExerciseDB API
EXERCISEDB_API_URL=https://exercisedb.dev/api/v1

# Client URL
CLIENT_URL=http://localhost:3000
